$breakpoints: (
  "sm": (
    min-width: 576px
  ),
  "md": (
    min-width: 768px
  ),
  "lg": (
    min-width: 992px
  ),
  "xl": (
    min-width: 1200px
  )
) !default;

$breakpoint-values: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12) !default;
